<h1 class="page-header">Monitors</h1>

<div>
  <button class="btn btn-link btn-icon" (click)="handleAddNew()">
    <cds-icon shape="plus"></cds-icon>
    Add Monitor
  </button>

  <button class="btn btn-link btn-icon" (click)="handleRefresh()">
    <cds-icon shape="refresh"></cds-icon>
    Refresh
  </button>
</div>

<app-monitor-list
  [monitors]="monitors$ | async"
  (edit)="handleEdit($event)"
></app-monitor-list>

<app-monitor-editor
  [monitor]="monitor"
  [connections]="connections$ | async"
></app-monitor-editor>
