<clr-datagrid>
  <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
  <clr-dg-column [clrDgField]="'description'">Description</clr-dg-column>
  <clr-dg-column [clrDgField]="'units'">Units</clr-dg-column>

  <clr-dg-placeholder>We couldn't find any metrics!</clr-dg-placeholder>

  <clr-dg-row *clrDgItems="let metric of metrics" [clrDgItem]="metric">
    <clr-dg-action-overflow>
      <button class="action-item" (click)="onEdit(metric)">Edit</button>
      <button class="action-item" (click)="onDelete(metric)">Delete</button>
    </clr-dg-action-overflow>
    <clr-dg-cell>{{ metric.name }}</clr-dg-cell>
    <clr-dg-cell>{{ metric.description }}</clr-dg-cell>
    <clr-dg-cell>{{ metric.units }}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>{{ metrics.length }} Record(s)</clr-dg-footer>
</clr-datagrid>
