<ng-container>
  <mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav
                 mode="side"
                 opened="true"
      role="navigation">
      <!-- sidenav content -->
      <mat-nav-list>
        <a mat-list-item
           *ngFor="let navItem of navItems"
           [routerLink]="[navItem.route]">
          <mat-icon matListIcon>{{ navItem.icon }}</mat-icon>
          <span matLine>{{ navItem.name }}</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <!-- Primary Toolbar -->
    <mat-toolbar class="sg-toolbar mat-elevation-z6" color="primary">
      <button mat-icon-button
              class="sg-toolbar-icon"
              (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <span>Spyglass</span>
      <span class="sg-fill-remaining"></span>
    </mat-toolbar>

    <!-- main content -->
    <router-outlet></router-outlet>

    <!-- Footer -->
    <mat-toolbar class="sg-footer">
      <span>Version</span>
    </mat-toolbar>

  </mat-sidenav-container>
</ng-container>



<mat-menu #appMenu="matMenu">
  <button mat-menu-item> Test </button>
</mat-menu>
